body{
    background-color: rgb(184, 184, 184);
}

h1 {
    text-align: center;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 600px;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5%;
    background-size: cover;
    background-position: center;
    background-color: white;
}


.container {
    display: flex;
    font-family: Arial, sans-serif;
}

.left-field {
    flex-basis: 45%;
    margin-right: 5%;
}

.right-field {
    flex-basis: 45%;
    margin-left: 5%;
}

.all {
    flex-basis: 100%;
}

input {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

select {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
    width: auto;
    background-color: #0099cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0077b3;
}
