div.pnlSuperiorEspecifico{
    text-align:center;
}

 div.pnlInferiorEspecifico{
    margin-left: 5%;
 }

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

label {
    margin-left: 10%;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size  : 30px;

    font-weight: bolder;
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size  : 25px;
        font-weight: bold;
}
 input{
    width      : 80%;
    margin-left: 5%;
    margin-bottom: 5%;

    border-color        : blue;
    border-top-width    : 0px;
    border-left-width   : 0px;
    border-right-width  : 0px;
    border-bottom-width : 1px;


 }

textarea{
    height       : 150px;
    width        : 80%;
    margin-left  : 5%;
    margin-bottom: 5%;

    word-wrap: break-word;
    resize   : none;
    border: solid;
    border-width: 1px;
    border-radius: 5%;
    border-color:blue;
}

select{
    width        : 80%;
    margin-left  : 5%;
    margin-bottom: 5%;

    border-color        : blue;
    border-top-width    : 0px;
    border-left-width   : 0px;
    border-right-width  : 0px;
    border-bottom-width : 1px;
 }

 div.PanelBotones{
    height: auto;
    width : 100%;

    display: flex;
    justify-content: space-evenly;

    margin-top: -2.2%;
}

button.btn_create{
    margin-left  : 40%;
    margin-right : 40%;
    margin-bottom: 10px;

    width   : auto;
    padding : 10px;

    border       : none;
    border-radius: 5px;

    background-color: #0099cc;
    color           : #fff;
    font-size       : 16px;

    cursor: pointer;
    transition: background-color 0.3s ease;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button.btn_create:hover {
    background-color: #0077b3;
}

/*Usar cuando haya más de un botón create*/
button.btn_create_multiple{
    margin-bottom: 10px;

    width   : auto;
    padding : 10px;

    border       : none;
    border-radius: 5px;

    background-color: #0099cc;
    color           : #fff;
    font-size       : 16px;

    cursor: pointer;
    transition: background-color 0.3s ease;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button.btn_create_multiple:hover {
    background-color: #0077b3;
}

button.btnEmergenteAceptarDelete{
    margin-bottom: 10px;

    width   : auto;
    padding : 10px;

    border       : none;
    border-radius: 5px;

    background-color: red;
    color           : #fff;
    font-size       : 16px;

    cursor: pointer;
    transition: background-color 0.3s ease;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button.btnEmergenteAceptarDelete:hover{
    background-color: rgba(255, 0, 0, 0.593);
}


