body {
    background-color: rgb(184, 184, 184);
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size  : 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
}

div.pnlPrincipalFriendship {
    display  : flex;
    flex-wrap: wrap;
}

div.pnlCard {
    width: 25%;

    margin : 2.5%;
    padding: 2.5%;

    background-color: rgb(184, 184, 184);

    border: 1px solid blue;
}

div.pnlCard img {
    width: 100%;
    height: auto;

    border      : solid;
    border-color: blue;
    border-width: 1px;

}

div.name {
    width: 100%;

    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align : center;

    margin-top: 10px;

    border             : solid;
    border-color       : blue;
    border-bottom-width: 1px;
    border-top-width   : 0px;
    border-left-width  : 0px;
    border-right-width : 0px;
}

.pnlCard .details {
margin-top: 5px;
}

div.btnFollow{
    display         : flex;
    justify-content : center;
    align-items     : center;
}

button.btnFollow{
    width   : max-content;
    padding: 10px;

    border       : none;
    border-radius: 5px;

    background-color: #0099cc;
    color           : #fff;
    font-size       : 16px;

    cursor: pointer;
    transition: background-color 0.3s ease;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button.btnFollow:hover {
    background-color: #0077b3;
}

small{
    color: red;
    text-align:center;
}

div.PanelBotones{
    height: auto;
    width : 100%;

    display: flex;
    justify-content: space-evenly;

    margin-top: -2.2%;
}

button.btn_create{
    margin-left  : 40%;
    margin-right : 40%;
    margin-bottom: 10px;

    width   : auto;
    padding : 10px;

    border       : none;
    border-radius: 5px;

    background-color: #0099cc;
    color           : #fff;
    font-size       : 16px;

    cursor: pointer;
    transition: background-color 0.3s ease;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button.btn_create:hover {
    background-color: #0077b3;
}

/*Usar cuando haya más de un botón create*/
button.btn_create_multiple{
    margin-bottom: 10px;

    width   : auto;
    padding : 10px;

    border       : none;
    border-radius: 5px;

    background-color: #0099cc;
    color           : #fff;
    font-size       : 16px;

    cursor: pointer;
    transition: background-color 0.3s ease;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button.btn_create_multiple:hover {
    background-color: #0077b3;
}

button.btnEmergenteAceptarDelete{
    margin-bottom: 10px;

    width   : auto;
    padding : 10px;

    border       : none;
    border-radius: 5px;

    background-color: red;
    color           : #fff;
    font-size       : 16px;

    cursor: pointer;
    transition: background-color 0.3s ease;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button.btnEmergenteAceptarDelete:hover{
    background-color: rgba(255, 0, 0, 0.593);
}

input.radio {
    margin-left: 40px;
}
