/*
 * @Author: Felipe Hernández González
 * @Email: felipehg2000@usal.es
 * @Date: 2023-03-14 20:12:25
 * @Last Modified by: Felipe Hernández González
 * @Last Modified time: 2023-05-16 20:25:17
 * @Description: Damos estilo para los formularios de inicio de sesión y de registro de usuarios para los usuarios no logueados
 */

/*body{
    background-color: rgb(184, 184, 184);
}

h1 {
    text-align: center;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 600px;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5%;
    background-size: cover;
    background-position: center;
    background-color: white;
}


.container {
    display: flex;
    font-family: Arial, sans-serif;
}

.left-field {
    flex-basis: 45%;
    margin-right: 5%;
}

.right-field {
    flex-basis: 45%;
    margin-left: 5%;
}

.all {
    flex-basis: 100%;
}

input {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

select {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

small {
    color: red;
}

button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
    width: auto;
    background-color: #0099cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0077b3;
}*/

body {
    height: 100vh;
    width : 100vw;

    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;

    background-image: url("img_fondo.jpg");
    background-repeat: no-repeat;
    background-size  : cover;
}
.pnlPrincipal {
    width: 35%;

    border      : solid;
    border-color: #0099cc;
    border-width: 1px;
}
.pnlSuperior {
    float: top;

    width     : 100%;
    text-align: center;

    border      : solid;
    border-color: #0099cc;
    border-width: 1px;

    background-color: #0099cc;
    color           : white;
}
.pnlClient{
    width: 100%;

    background-color: white;
}
label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input{
    border-top-width   : 0;
    border-left-width  : 0;
    border-right-width : 0;
    border-bottom-width: 1px;

    width       : 90%;

    border-color: blue;
}
label.center{
    margin-left: 5%;
}
input.center{
    margin-left : 5%
}
input:focus::placeholder{
    color: white;
}
.pnlInferior{
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;

    background-color: white;
}
button.btn_create{
    width   : auto;
    padding: 10px;

    border       : none;
    border-radius: 5px;

    background-color: #0099cc;
    color           : #fff;
    font-size       : 16px;

    cursor: pointer;
    transition: background-color 0.3s ease;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button.btn_create:hover {
    background-color: #0077b3;
}
.error {
    color: red;
}

