div.PanelTaskBoardPrincipal{
    height: 100%;
    width:100%;

    position: relative;
}
/*--------------------------------------------------------------------------------------------------*/
div.PanelTaskBoardTareas{
    background-color: whitesmoke;
    height: 100%;
    width : 100%;

    display        : flex      ;
    flex-direction : column    ;
    align-items    : center  ;
    overflow       : auto    ;
}

div.PanelTaskBoardSuperiorMentor{
    height: auto;
    width : 90%;

    margin-top: 20px;
    margin-bottom: 30px;
}

button.btn_create_task{
    margin-top   : -10px;
    margin-bottom: 30px;

    width   : auto;
    padding : 10px;

    border       : none;
    border-radius: 5px;

    background-color: #0099cc;
    color           : #fff;
    font-size       : 16px;

    cursor: pointer;
    transition: background-color 0.3s ease;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button.btn_create_task:hover {
    background-color: #0077b3;
}

div.PanelTask_N{
    height: auto;
    width: 90%;

    border: solid;
    border-color: blue;

    background-color: white;
    box-shadow: 4px 4px 10px black;
}

div.TaskTitulo_Azul{
    width : max-content;
    height: 50px;

    background-color: #0099cc;

    margin-left : 10%;
    margin-top  : -2%;

    border-radius: 10%;

    display        : flex  ;
    align-items    : center;
}

div.TaskTitulo_Rojo{
    width : max-content;
    height: 50px;

    background-color: red;

    margin-left : 10%;
    margin-top  : -2%;

    border-radius: 10%;

    display        : flex  ;
    align-items    : center;
}

p.TaskTitulo{
    padding-left: 5%;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size  : 20px;
    font-weight: bold;
}

p.TaskInfo{
    padding-left : 2.5%;
    padding-right: 2.5%;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;

}
/*--------------------------------------------------------------------------------------------------*/
div.PanelTaskBoardCreateTask{
    visibility: hidden;
    position  : absolute;
    top : 0;
    left: 0;
    width : 100%;
    height: 100%;

    background-color: whitesmoke;

    display        : flex;
    align-items    : center;
    justify-content: center;

    z-index: 1;

    overflow: auto;
}

div.PanelNewTask{
    height: auto;
    width : 80%;

    visibility: visible;

    border-radius: 5%;

    background-color: white;
    box-shadow: 4px 4px 10px black;

    margin-bottom: 30px;
}

