div.pnlCopmpletoTut{
    background-color: white;

    height: 100%;
    width: 80%;

    position:absolute;
    overflow: hidden;

    top: 0;
    right: 0;
}

div.pnlSupTut{
    background-color: white;
    height: 6%;
    width: 100%;

    margin-top: 20px;
    margin-left: 25px;

    display: flex;
    align-items: center;
}

button.btn_fin_tut{
    margin-bottom: 10px;

    width   : auto;
    padding : 10px;

    border       : none;
    border-radius: 5px;

    background-color: #0099cc;
    color           : white;
    font-size       : 16px;

    transition: background-color 0.3s ease;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    margin-left: 60%;
}

button.btn_fin_tut:hover {
    background-color: #0077b3;
}

div.pnlPrinTut{
    background-color: white;

    height: 90%;
    width: 100%;

    position: absolute;
    display: flex;
    flex-direction: row;

    margin : 0;
    padding: 0;

    z-index: 5;
}

div.pnlIzqTut{
    background-color: white;

    float: left;

    width : 50%;
    height: auto;

    overflow: hidden;

    margin: 5px;
}

div.pnlDchaTut{
    background-color: white;

    float: right;

    width : 50%;
    height: auto;

    overflow: hidden;

    margin: 5px;
}

.ck-editor__editable_inline {
    height: 75vh;
    width: 100%;

    overflow: auto;
}
