div.pnlCopmpletoTut{
    background-color: white;

    height: 100%;
    width: 100%;

    position:relative;
    overflow: hidden;

    top: 0;
    right: 0;
}

div.pnlSupTut{
    background-color: white;
    height: 20%;
    width: 100%;

    margin-top: 10px;
    margin-left: 25px;
}

div.pnlPrinTut{
    background-color: white;

    height: 75%;
    width: 100%;

    position: absolute;
    display: flex;
    flex-direction: row;

    margin : 0;
    padding: 0;

    z-index: 5;
}

div.pnlIzqTut{
    background-color: white;

    float: left;

    width : 50%;
    height: auto;

    overflow: hidden;
}

div.pnlDchaTut{
    background-color: white;

    float: right;

    width : 50%;
    height: auto;

    overflow: hidden;
}

textarea.tuto {
    height: 100%;
    width: 90%;
    box-shadow: 4px 4px 10px black;
}

div.pnlPizarra{
    background-color: white;

    height: 75%;
    width: 100%;
    padding: 0;
    background-color: black;
    opacity         : 0.2;

    position: absolute;

    z-index: 1000;

    visibility: hidden;
}
